---
const personalImageAlt = "Maximiliano Tirapelli"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-red-500 dark:[&>p>strong]:text-red-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Maximiliano Tirapelli pero mis amigos me dicen Maxi.
      Estudié Administracion de empresas y tras 10 años en el ambito del comercio,
      me pasé al mundo de la programación. Desde entonces 
      <strong>
        disfruto creando experiencias web para los usuarios
      </strong
      >.
    </p>

    <p>
      Entre mis éxitos destaco que durante la formacion academica <strong
        >ayudé a mis compañeros a aprender sobre UX/UI y despliegue en AWS</strong
      >. Me encanta el desarrollo web y el diseño, creo que son complementos fundamentales,
      y me gusta compartir mi conocimiento sobre ello.
    </p>

    <p>
      Cuento con experiencia desarrollando aplicaciones web y móviles, <strong
          >y estoy creando una app, para unir mi experiencias junto a mis pasion: 
          <em class="underline">la administracion y la programación</em></strong>.
          Con el objetivo de unir y crear puentes en los 2 ambitos.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
